body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #666;
}

.ba-container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: #ddd;
}

a:hover {
	color: #fff;
}

p {
	font-size: 17px;
	margin-bottom: 8px;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	font-weight: bold;
	color: #484848;
	text-transform: uppercase;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 32px;
}

h5, h6 {
	font-size: 24px;
}

/* Buttons */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
	background-color: #f32853;
	color: #fff;
	display: inline-block;
	height: 63px;
	line-height: 63px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	padding: 0 35px;
	font-size: 21px;
	text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
	background-color: #f44066;
}

.button.alt {
	background-color: #323037;
}

.button.alt:hover {
	background-color: #3e3c45;
}

/*First Header*/

body {
	background-size: cover;
	background-attachment: fixed;
	background-image: url('../img/overlay.png'), url('../img/banner.jpg');
}

nav a {

}

section {
	margin-left: auto;
	margin-right: auto;
	padding: 96px 0 64px 0;
}

.wrapper {
	text-transform: uppercase;
	background-color: transparent;
	color: #fff;
	font-size: 17px;
	line-height: 3.25;
}

.first-header {
	padding: 38px;
}

.first-header h1 {
	position: absolute;
	letter-spacing: 0.2px;
	left: 46px;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}

.first-header a {
	color: #fff;
}

.nav ul li a {
	color: #ddd;
}

.nav ul li a:hover {
	color: #fff;
}

.first-header ul {
	font-size: 18px;
	text-align: right;
	position: absolute;
	right: 36px;
	letter-spacing: 0.2px;
}

.first-header ul li {
	display: inline-block;
	font-size: 100%;
	margin-left: 47px;

}

.first-header ul:first-child {
	margin-left: 0;
}

.buttom {
	background-color: #f32853;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	height: 62px;
	line-height: 64px;
	display: inline-block;
	text-transform: uppercase;
	padding: 0 43px;
	text-decoration: none;
	font-size: 20px;
}

.banner {
	padding: 167px 0 123px 0;
	text-transform: uppercase;
}

.banner h2 {
	font-size: 37px;
	line-height: 1.35;
	margin-bottom: 18px;
	color: #fff;
	font-weight: bold;
}

.banner p {
	color: #aaa;
	font-size: 22px;
	margin-bottom: 39px;
	line-height: 1.75;
}

.first {
	font-weight: 900;
}
/*top block*/

.top {
	background: #ffffff;
	padding: 88px 0 58px 0;
	color: #666666;
	line-height: 2;
	text-transform: none;
}

.top h2 {
	font-size: 40px;
	display: inline-block;
	line-height: 70px;
	height: 120px;
	color: #484848;
	margin: 0 0 0 12px;
}

.top-left {
	font-size: 20px;
	color: #aaa;
	text-transform: uppercase;
	margin: 0 0 0 12px;
}
.top .ba-grid {
	margin: 0 auto;
}
.top-main {
	width: 720px;
}

.top-right {
	font-size: 14px;
	margin-bottom: 21px;
	line-height: 30px;
	letter-spacing: 0.3px;
}

/*high block*/

.high {
	background: #f6f6f6;
}

.high h2 {
	font-size: 49px;
	display: inline-block;
	line-height: 49px;
	height: 49px;
	color: #000000;
	margin-bottom: 28px;
}

.text {
	font-size: 20px;
	color: #aaaaaa;
	text-transform: uppercase;
}

img {
	display: block;
	width: 100%;
}

h3 {
	font-size: 19px;
	line-height: 24px;
	padding: 32px 16px;
	text-align: center;
}

.high .picture {
	margin-left: 33px;
	margin-bottom: 36px;
	float: left;
	background: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);

}

ul .ba-button {
	list-style: none;
	cursor: default;
	padding-left: 0;
}

.ba-button li {
	display: inline-block;
	margin: 0 16px 0 0;
	vertical-align: middle;
}

.ba-button-left {
	background: #f32853;
	color: #ffffff;
	border-radius: 4px;
	padding: 0 40px;
	height: 62px;
	line-height: 62px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	cursor: pointer;
	font-size: 21px;
	font-weight: 700;
	margin-left: 50px;
}

.ba-button-left:hover {
	background: #f44066;
}

.ba-button-right {
	background: #323037;
	color: #ffffff;
	border-radius: 4px;
	padding: 0 40px;
	height: 62px;
	line-height: 62px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: inherit;
	display: inline-block;
	cursor: pointer;
	font-size: 21px;
	font-weight: 700;
}

.ba-button-right:hover {
	background: #625c67;
}

/*mid block*/

.mid {
	background: #fff;
	padding: 88px 0 58px 0;
}

.mid h2 {
	font-size: 40px;
	display: inline-block;
	line-height: 49px;
	height: 49px;
	color: #484848;
	margin-bottom: 28px;
}

.mid-image {
	border-radius: 50%;
	border: solid 8px rgba(144, 144, 144, 0.25);
}

.mid-text {
	font-size: 13px;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 15px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}

.mid-right {
	font-size: 12px;
	color: #000000;
	line-height: 2;
	text-transform: capitalize;

}

.mid-2-right {
	font-size: 14px;
	color: #666666;
	line-height: 2;
	text-transform: capitalize;

}

/*low block*/

.low {
	padding: 88px 0 58px 0;
	
}
.low h2 {
	color:#ffffff;
	font-size: 40px;
	margin-bottom: -20px;
}
.low p {
	color: #aaaaaa;
	font-size: 17px;
}

/*footer*/
footer {
	height: 344px;
	background-color: #f6f6f6;
	color: #000000;

}

footer ul li {
	display: inline-block;
	color: #aaaaaa;
	font-size: 13px;

}

footer ul li a {
	color: #aaaaaa;
}
.social a {
	font-size: 42px;
}
.social li {
	margin: 54px 27px 11px 27px;
}

.info a, .social a:hover {
	color: #666;
}

footer ul {
	text-align: center;
}
.delimiter{
border-left: 1px solid #aaaaaa;
border-right: 1px solid #aaaaaa;
	padding: 0 10px;
}
.info li{
	padding: 0 20px;
	height: 29px;
	line-height: 30px;
}

